---
import type { CollectionEntry } from 'astro:content';
import ArticleCard from './ArticleCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

{posts.length > 0 ? (
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
    {posts.map((post) => (
      <ArticleCard post={post} />
    ))}
  </div>
) : (
  <p class="py-12 text-center text-neutral-500">No articles found.</p>
)}
